*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.title{
    padding: 0px;
    margin: 0px;
    background-color: black;
}
span video{
    text-align: left;
    padding: 0px;
    margin: 0px;
    border: 3px solid #fa950c;
    width: 98.5vw;
    height: 747px;
}
.shortcutlinks{
    text-align: right;
    padding: 8px;
    position: relative;
    position: fixed;
    z-index: 12;
    top: 20px;
    right: 10px;
}
.shortcutlinks span{
    background-color: #f0f8ff;
    background-size:contain;
    color: white;
    font-size: 1.5vw;
    border-radius: 10px; 
    margin: 10px;   
}
.content{
    padding: 50px;
    margin: 0px;
    background:linear-gradient( TO RIGHT,rgb(93, 200, 47),rgb(90, 212, 194),rgb(35, 79, 167));
    width: 100%;
    padding: 120px 0; 
    }
h1{
    font-weight: 700;
    color: #232044;
    font-size: 46px;
    padding-bottom: 18px;
    text-align: center;
    text-decoration: underline;
    padding: 0px;
    font-family: 'Great Vibes', cursive;
}
.container{
    padding: 0px;
    margin: 40px ;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.box1{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px  rgb(14, 14, 14);
    transition: 1s;
    padding: 5px;
    position:relative;
    right: 100px;
    color:rgb(6, 6, 6);
    font-family: "Merienda", cursive;
}
.box2{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgb(14, 14, 14);
    transition: 1s;
    padding: 5px;
    position:relative;
    left: 100px;
    color:rgb(18, 16, 16);
    font-family: "Merienda", cursive;
}
.box3{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgb(14, 14, 14);
    transition: 1s;
    padding: 5px;
    position:relative;
    top: 20px;
    right: 100px;
    color:black;
    font-family: "Merienda", cursive;
}
.box4{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgb(14, 14, 14);
    transition: 1s;
    padding: 5px;
    position:relative;
    top: 20px;
    left: 100px;
    font-family: "Merienda", cursive;
    color:black;
}
.box5{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgb(14, 14, 14);
    transition: 1s;
    padding: 5px;
    position:relative;
    top: 30px;
    right: 10px;
    font-family: "Merienda", cursive;
    color:black;
}
img{
    display: block;
    width: 100%;
    border-radius: 6px;
}
.box1:hover ,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover{
    color:red;
    scale: 1.2;
}
span a{
    text-decoration: none;
    padding: 10px;
    color:black;
    letter-spacing: 2px;
    margin: 10px ;
}
.fa-instagram{
    color: #e84393;
    font-size:40px; 
    margin-right: 17px;  
    margin-bottom: 17px;                
}
.fa-youtube{
    color: #e84111;
    font-size:40px;
    margin-right: 17px; 
    margin-bottom: 17px;                

}
.fa-whatsapp{
    color: rgb(2, 82, 2);
    font-size:40px;
    margin-right: 17px;    
    margin-bottom: 17px;              
}
.fortheicons{
    position: relative;
    background-color: black;
    margin-right: 260PX;
    margin-left: 260PX;
}
.address{
    position: relative;
    background-color: black;
    color: goldenrod;
}
.contactdetails{
    position: relative;
    background-color: black;
    color: goldenrod;
}
.ending{
    font-size: 16px;
    background-color: black;
    color: goldenrod;
    font-weight: 300;
    padding: 40px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
